:root {
    background-color: black;
    display: flex;
}

#mainWrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    
    justify-content: center;
    
}

displayWrapper {
    display: flex;
}

#display {
    display: flex;
    width: 350px;
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#innerDisplay {
    display: flex;
    height: 75px;
    width: 300px;
    border-radius: 10px;
    background-color: beige;
}

#buttonWrapper {
    display: flex;
    gap: 10px;
    width: 400px;
    flex-wrap: wrap;
}

.button {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

#zeroButton {
    width: 170px;
}
